{% extends "base.html" %}

{% block content %}
<h1>Contact</h1>
<div class="row">
    <div class='col-md-4'>
        <h3>Forums</h3>
        <p>You can find us on the <a href="http://forum.rpcs3.net/">EmuNewz forums</a>.</p>
        <p>
            For questions about contributions and development feel free to leave us a message:
            <ul>
                <li><a href="http://www.emunewz.net/forum/member.php?action=profile&uid=212334">[DH]</a></li>
                <li><a href="http://www.emunewz.net/forum/member.php?action=profile&uid=19">Hykem</a></li>
                <li><a href="http://www.emunewz.net/forum/member.php?action=profile&uid=10">BlackDaemon</a></li>
                <li><a href="http://www.emunewz.net/forum/member.php?action=profile&uid=404156">AlexAltea</a></li>
                <li><a href="http://www.emunewz.net/forum/member.php?action=profile&uid=409831">NekotekinaHito</a></li>
                <li>...and other registered developers</li>
            </ul>
        </p>
    </div>
    <div class='col-md-4'>
        <h3>Website</h3>
        <p>This website is supported and mantained by <a href="http://www.emunewz.net/forum/member.php?action=profile&uid=2">shadow</a> and other members of the <a href="http://www.emunewz.net/">EmuNewz community</a>.</p>
        <p>
            Feel free drop comments about it on:
            <ul>
                <li><a href="http://www.emunewz.net/forum/member.php?action=profile&uid=2">shadow</a></li>
                <li><a href="http://www.emunewz.net/forum/member.php?action=profile&uid=404156">AlexAltea</a></li>
            </ul>
        </p>
    </div>
    <div class='col-md-4'>
        <h3>Email</h3>
        <p>
            Project founders can be contacted at:
            <ul>
                <li><a href="mailto:DH.rpcs3@gmail.com">DH.rpcs3@gmail.com</a> (DH)</li>
                <li><a href="mailto:hykem.the.demon@googlemail.com">hykem.the.demon@googlemail.com</a> (Hykem)</li>
            </ul>
            <b>NOTE</b>: These email addresses are not a technical support service. Please, read the <a href="https://github.com/DHrpcs3/rpcs3/wiki/FAQ">FAQ</a> and look in the forums if your question was already answered.
        </p>
    </div>
</div>
{% endblock %}
